
.wk-fullwidth-container {
	width: 100%;
	height: 0;
	padding-bottom: calc(100vh - 60px);
	background-size: cover;
	background-position: center;
	position: relative;

	@include mq($from:desktop){
		padding-bottom: calc(100vh - 60px);
	}


	.wk-fullwidth-text {
		width: 60%;
		position: absolute;
		margin-top: 2.714em;
	    margin-left: 5%;
		max-width: 200px;
		font-size: 1rem;
		line-height: 1.2em;

		b {
			@include testo_uno;
		}

		@include mq($from:tablet){
			width: 50%;
			max-width: 350px;
			margin-left:0%;
			margin-right:0%;
			margin-top:0%;
			font-size: 1.375rem;
		}

		@include mq($from:desktop){
			width: 30%;
			max-width: 350px;

		}


		&.top-left {
			text-align: left;

			@include mq($from:tablet){
				text-align: left;
				left: 5.468vw;
				top: 5.135vh;
			}
		}
		&.top-center {
			text-align: center;

			@include mq($from:tablet){
				text-align: center;
				left: 50%;
				transform:translateX(-50%);
				top: 5.135vh;
				margin: 0; 
			}
		}
		&.top-right {
			text-align: right;
			right: 5.468vw;

			@include mq($from:tablet){
				text-align: right;
				right: 5.468vw;
				top: 5.135vh;
			}
		}
		&.center-left {
			text-align: left;
			transform:translateY(-50%);
			top: 50%;
			margin-top: 0; 

			@include mq($from:tablet){
				text-align: left;
				left: 5.468vw;
			}
		}
		&.center-center {
			text-align: center;
			left: 50%;
			transform:translateX(-50%) translateY(-50%);
			top: 50%;
			margin: 0; 
		}
		&.center-right {
			text-align: right;
			right: 5%;
			transform:translateY(-50%);
			top: 50%;
			margin-top: 0; 
			@include mq($from:tablet){
				text-align: right;
				right: 5.468vw;
			}
		}
		&.bottom-left {
			text-align: left;
			bottom: 5%;
			@include mq($from:tablet){
				text-align: left;
				left: 5.468vw;
				bottom: 5.135vh;
			}
		}
		&.bottom-center {
			text-align: center;
			bottom: 5%;
			left: 50%;
			transform:translateX(-50%);
			@include mq($from:tablet){
				text-align: center;
				bottom: 5.135vh;
			}
		}
		&.bottom-right {
			text-align: right;
			right: 5%;
			bottom: 5%;
			@include mq($from:tablet){
				text-align: right;
				bottom: 5.135vh;
				right: 5.468vw;
			}
		}

	}


}


.wk-link-fullwidth {
	& .wk-fullwidth-text b {
		display: inline-block;
		width: auto;
		position: relative;
		//padding-left: 20px;
		padding-left: 0px; 
	}
	& .wk-fullwidth-text b::before {
		content: "";
	    //width: 15px;
	    width: 0px;
	    position: absolute;
	    //height: 3px;
	    height: 1.5px;
	    left: 0px;
	    background-color: #000;
	    transition: all .3s ease-in-out;
	    //top: 50%;
	    top: 100%;

	    @include mq($to:tablet){
	    	//height:2px;
	    	height:1.5px;
	    }
	}

	&:hover .wk-fullwidth-text b::before {
		width: 100%;
	} 
}

