
.wk-text-container {
    width: 100%;
    margin: 0 auto;
    padding: 3.57em 15px 2em 15px;

    @include mq($from:tablet){
        width: 80%;
        padding: 5.625em 0;
    }

    .wrapper & {
        width: 100%;
    }

    .wk-text {
        width: 66.66%;
        font-size: 1rem;
        line-height: 1.2em;

        b {
            @include testo_uno;
        }

        @include mq($from:tablet){
            width: 41%;
            margin-left:0%;
            margin-right:0%;
            margin-top:0%;
            font-size: 1.375rem;
        }
    }
}

#contenuti .vc_row.wpb_row.vc_row-fluid:first-child .wk-text-container {
    padding-top: 0;
}

.wk-images-container {
    width: 90%;
    margin: 0 auto;
    position: relative;
    overflow: visible;

    @include mq($from:tablet){
        width: 80%;
    }

    .wrapper & {
        width: 100%;
    }

    .wk-img-container {
        width: 50%;
        margin: 0 auto;
        float: left;
        position: relative;
        margin-bottom: 3em;

        @include mq($from:tablet){
            padding: 0 35px;
            width: 42%;
            margin-bottom: 9.25em;
        }

        &.wk-image-dx {
		    float: right;
		}

		&.wk-image-dx.wk-image-first {
            margin-top: 0em;
		  	@include mq($from:tablet){
                margin-top: -9.25em;
            }
		}
		
		&.wk-image-sx {
			clear:left;
		}

        .wk-image-item {
            width: 100%;
            display: block;
        }
        &:last-child {
            margin-bottom: 4.6875em;
        }
    }

    &.wk-left-column .wk-image-sx {
        width: 66%;

        @include mq($from:tablet){
             width: 58%;
        }
    }

    &.wk-right-column .wk-image-dx {
        width: 66%;

        @include mq($from:tablet){
             width: 58%;
        }

    }
}

body .wk-images-container .wk_image_not_fullwidth {
    width: 51% !important;
    @include mq($from:tablet){
        width: 42% !important;
    }
}
