/* BLOG.SCSS */

.diario .wp_content {
	padding-top: 0;
} 

.breadcrumb {
    text-transform: uppercase;
    color: #939393;
    max-width: 560px;
    margin: 0 auto;
    font-size: .7rem;
    margin-bottom: 50px;

    
    @include flex-parent(row,flex-start,center,center);

    @include mq($from:desktop){ 
    	max-width: none;
    	font-size: 1rem;
    }

    span { 
    	@include flex-child; 
    	margin-right: 5px; 
    	a { color: #939393; }
    }
    .breadcrumb-end { margin-left: 5px; }

    ul {
    	@include flex-child;
    	padding: 0;
    	display: block;
    	margin: 0 5px;
    	li {
    		list-style-type: none;
    		text-transform: uppercase;
    		line-height: 1em;
    		margin-bottom: 0px;
    		a { color: #939393; float: left; }
    	} 
    }
}


.post-meta {
	max-width: 100%;
    margin: 0 auto;
    position: relative;

	* {
		text-transform: uppercase;
		font-size: 0.7rem;
		line-height: 1.2em;
		font-weight: 300;

		@include mq($from:desktop){ 
			font-size: 1rem;
		}

		> a {
			font-size: inherit;
		}
	}
	.post-meta-data {
		width: 40%;
		position: relative;
		left: 0;

		@include mq($from:desktop){ 
			width: 20%;
			position: absolute;
		}
	}

	.post-meta-social {
		width: 40%;
		text-align: right;
		position: absolute;
		right: 0;
		top: 0;
		@include mq($from:desktop){ 
			width: 20%;
		}
	}
}


.post-container {
    padding: 0;
    border-bottom: 1px solid $color_2; 
    max-width: 560px;
    margin: 0 auto;
    margin-bottom: 30px;

    .post-title h2 {
    	@include testo_tre;
    	padding-top: .5em;
    	// line-height: 30px; MAI LINE HEIGHT IN PIXEL, SE NON CI SERVE PER UN WORKAROUND
    	font-size: 2.25rem;

    	@include mq($from:desktop){ 
    		padding-top: 0;
    	}
    }
    

	.read-more {
		display: block;
		margin: 0 auto;
		text-align: center;
		cursor: pointer;
		padding: 30px 0;
		font-size: 0.7rem;
		@include mq($from:desktop){ 
			font-size: 1rem;
		}

		span {
			text-transform: uppercase;
		}

		.off {
			display: none;
		}

		&.read-open {
			.off {display: inline-block;}
			.on {display: none;}
		} 
	}

	.post-thumb .post-image-item {
		height: 0;
	    padding-bottom: 67%;
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: contain;
	}

	.post-content {
		font-size: 1rem;
		line-height: 1.2em;
		display: none;
		width: 100%;

		@include mq($from:desktop){ 
			font-size: 1.25rem;
		}


		p { 
			text-align: justify; 
			width: 100%; 
			padding-left: 15px;
    		padding-right: 15px;
    	}


		p:first-child {
			margin-top: 35px;
		}

	    .download {
	    	display: inline-block;
		    text-transform: uppercase;
		    position: relative;
		    width: auto;
		    margin: 0 auto;
		    left: 50%;
		    transform: translateX(-50%);
	    	font-size: 0.7rem;
	    	padding: 0px 5px;
		    border-top: 1px solid #000;
		    border-bottom: 1px solid #000;
		    
	    	@include mq($from:desktop){ 
	    		font-size: 1rem;
	    		padding: 10px 30px;
	    	}

	    	&:hover {
	    		background-color: $nero;
	    		color: $bianco;
	    		opacity: 1;
	    	}
	    }

	}
	
}


.single {
	.gallery-container { 
		display: block !important; 

		ul li {
			background-size: contain;
		}
	}
	.post-content { height: auto; display: block; }

	border-bottom: 0;
}


.news-wrapper {
	@include flex-parent(row,space-between,center,center);

	width: 60%;

	@include mq($from:tablet){ 
		width: 80%;
	}

	h3 {
		text-align: center;
		font-weight: normal;
		margin-bottom: calc(1em - 15px)!important;
	}

	.news-item {
		@include flex-child;
		width: 100%;
		@include mq($from:tablet){ 
			width: 31.5%;
		}

		.post-image-item {
			width: 100%;
			height: 0;
			padding-bottom: 64%;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			margin-bottom: 15px;
			margin-top: 15px;

		}

		.news-title {
			//padding-left: 16px;
			padding-left: 0px;
			position: relative;
			display: initial;

			&::before {
				content: " ";
				//width: 12px;
				width: 0px;
				//height: 2px;
				height: 1.5px;
				background-color: $nero;
				position: absolute;
				//top: 50%;
				top: 100%;
				left: 0;
				@include transition;
			}

		}

		&:hover .news-title::before {
			width: 100%;
		}
	}
}


nav.woocommerce-pagination ul.page-numbers {
	padding-left: 0; 

	

	li {
		position: relative;
		line-height: 1.2em;
		font-size: .875rem;
		color: #808080;
		padding-left: 0;
		padding-right: 0; 
		display: inline-block;

		span {
			display: inline-block;
			padding: 0;
			color: #808080;

			&.current {
				color: $nero;
			}
		}

		a {
			display: inline-block;
			padding: 0;
			color: #808080;
		}

		

		span::after, a::after {
			content: "•";
			color: #808080;
			padding-left: 6px;
		} 

		a.prev {
			@include arrow("right", "#808080");
			color: transparent;
			padding: 5px;
	    	width: 0;
	    	margin: 0 6px;
			//transform: rotate(180deg) translateY(-100%);
			&::after {
				display: none;
			}
		}

		a.next {
			@include arrow("right", "#808080");
			color: transparent;
			transform: rotate(180) translateY(100%);
			padding: 5px;
	    	width: 0;
	    	margin: 0 6px;

	    	&::after {
	    		display: none;
	    	}
		}
	} 
}


nav.woocommerce-pagination ul.page-numbers li:nth-last-child(2) a::after {
	content: " ";
	color: red;
}
