.woocommerce a.remove {
	font-size: 1rem;
}

body #contenuti td.total-order-sub {
    @include mq($from:tablet){ 
        border-top: 1px solid black!important;
    }
}


.woocommerce table.shop_table {

    border-collapse: collapse;

    @include mq($to:tablet){
        margin-bottom: 0;

        tbody tr {



            .product-price, .product-subtotal, .total-order-sub {
                &::before {
                    width: 0;
                }
                span.woocommerce-Price-amount {
                    display: block;
                    width: 60%;
                    text-align: center;
                    left: 40%;
                    position: relative;

                    .woocommerce-Price-currencySymbol {
                        display: inline-block;
                    }
                }
            }
            .product-quantity {
                &::before {
                    width: 0;
                }
                .quantity.buttons_added {
                    width: 60%;
                }
            }
        }

    }

    thead tr th {
        text-transform: uppercase;
        font-size: .785rem;
        font-weight: 300;
    } 

    tbody tr:first-child {



        @include mq($from:tablet){ 
            border-top: 1px solid $nero;
        }

        td {
            &::before {
                font-size: .785rem;
            }
            @include mq($from:tablet){ 
                 padding-top: 15px;
            }
        }

        th {
        	text-align: center;
        	text-transform: uppercase;
        	font-size: 0.785rem;
        	font-weight: 300;
        	border-collapse: 0;
        	border-bottom: 1px solid $color_2;

        	&.product-name { 
        		text-align: left; 
        		padding-left: 0;
        	}
        }
    }

    tbody tr td {
        &::before {
            font-size: .785rem;
        }
    }

}

.woocommerce .wrapper .wkcol-10 {
    @include mq($to:tablet){
        padding: 0; 
    }
}

.cell-title {
    padding: 0 0 8px 0;
    text-align: left;
    text-transform: none;

    &.cell-uppercase {
    	text-transform: uppercase;
    	text-align: center;
    }
}
.cell-content {
	padding: 0px;

    @include mq($to:tablet){ 
        padding: 0; 

        span {
            font-weight: 400;
        }
    }
}


body td.total-order-sub {

    padding-top: 15px;
    @include mq($from:tablet){ 
        border-collapse: unset;
        border-top: 1px solid $nero !important;
    }


    .subtotal-title {
        text-align: center; 
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: bold;
        width: 100%;
        display: block !important;
        text-align: center;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        padding-bottom: 15px;
        @include mq($to:tablet){ 
            display: none !important;
        }

    }
    .cell-content {
        font-weight: bold;
    }
}

.coupon {
	width: 100%;
	text-align: left;

	input#coupon_code {
		width: 80%;
		background-color: #e1e1e1;
		border: none;
		padding: 5px;  
	}
	input.button {
		background-color: transparent;
		font-weight: 300;
		width: 15%;
        padding: 0;

        @include mq($to:tablet){ 
            width: 20% !important;
        }

		&:hover {
			background-color: transparent;
		}
	}
}


tr.woocommerce-cart-form__cart-item.table-items.cart_item td {
    padding-top: 0;
}

table.shop_table th {
    &.product-name {
        padding-left: 0;
    }

    &.product-quantity, &.product-price,&.product-subtotal {
        text-align: center;

        @include mq($from:tablet) {
            width: 17%;
        }
    }
}

table.shop_table tr {

	td { padding-top: 0; }
    @include mq($to:tablet){ 
        position: relative;
        border-bottom: 1px solid $nero;
        padding-bottom: 15px;

        td {
            padding-top: 15px;
            font-size: .785rem;
        }
    }

    &.cart_item:first-child td {
            padding-top: 15px;
    }

    &.cart_item::last-child {
        border-bottom: 1px solid $nero !important;
    }   

}
.woocommerce table.shop_table td {
    border-top: 1px solid rgba(0,0,0,.1);
    background-color: none;
    padding: 20px 12px 0;
    vertical-align: top;
    text-transform: uppercase;
    text-align: center;

        @include mq($to:tablet){ 

            padding-top: 15px !important;

            &::before {
                font-weight: 300 !important;
            }

            &.product-subtotal {
                padding-top: 5.3em !important;
            }

        }

        padding-left: 10px;
        padding-right: 0;

    &.product-thumbnail {
        @include mq($to:tablet){
            position: relative;
            left: 0;
            width: 30%;
            top: 15px;
            display: block;
            padding: 0 0 15px;
            text-align: left;
            height: 100%;

            &::before {
                display: none;
            }

            padding: 0 0 15px 0;

            a {
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                left: 0;
                img {
                    position: relative;
                    max-height: calc(100% - 15px);
                }
            }
        }

    	width: 13%;
        padding: 0 0 15px 0;
    	
    }

    &.product-name { 
        @include mq($to:tablet){ 
            width: 60%;
            left: 30%;
            position: relative;
            text-align: left!important;
            padding-top: 0; 
            margin-top: -30px;

            &::before {
                display: none;
            }
        }
        text-align: left; 


        dl.variation {
            margin: 0;
            .variation-text {
                margin: 0;
                line-height: 1.2em;
                text-transform: none;
                font-style: italic;   
            }
        }
    }
    &.product-remove {

        @include mq($to:tablet){ 
            right: 0;
            position: absolute;
            width: auto;
            top: 0px;
            padding-top: 0;
        }

    	padding-right: 0;
    	text-align: right;
    	line-height: 1em;
        width: 1px;

    	a svg { @include transition; }

    	a:hover {
    		background-color: transparent;
    		svg { transform: rotate(90deg); }
    	}
    }

    &.product-subtotal {
        padding-right: 10px;
        padding-top: 0em;
        width: 17%;

        @include mq($to:tablet){
            padding-right: 0px; 
            width: 70%;
            left: 30%;
            position: relative;
            padding-top: 5.3em;
        }
    }

    &.product-price {
        padding-right: 10px;
        width: 12%;

        @include mq($to:tablet){ 
            padding-right: 0px; 
            width: 70%;
            left: 30%;
            position: relative;
        }
       
    }

    &.product-quantity {
        padding-right: 10px;
        @include mq($to:tablet){ 
            padding-right: 0px; 
            width: 70%;
            left: 30%;
            position: relative;

        }
    	.quantity.buttons_added {
    		padding-right: 0;
            width: 100px;
            display: inline-block;
            text-align: center;

            @include mq($to:mobile){ 
                clear: none;
                width: 50%;
            }   

    		input[type=number]::-webkit-inner-spin-button, 
			input[type=number]::-webkit-outer-spin-button { 
			  -webkit-appearance: none; 
			  margin: 0; 
			}

			input[type=number] {
			    -moz-appearance:textfield;
			}

    		input { 
    			position: relative;
    			box-shadow: none;
    			&.input-text {
    				padding: 0; 
    			}
    			&:focus {
    				border: 0;
    				box-shadow: none;
    				outline: none;
    			}

    			&.input-text.qty {
    			     width: 20px;
    			    height: inherit;
    			   	position: relative;
    			    margin-top: 0; 
    			    font-weight: 300;
    			    line-height: 1.2em;
    			    margin-left: 0;
                    @include mq($to:desktop){
                        width: 25%;
                    }
    			}

    			&.plus, &.minus {
    				margin-top: 0;
    				line-height: 1.2em;
    				height: 1em;
    				background: transparent;
    				color: transparent;

                    @include mq($to:tablet){
                        padding-left: 0;
                    }

    			}

    			&.plus {
    				@include thin-arrow("down", $nero);
    			}

    			&.minus {
    				@include thin-arrow("up", $nero);
    			}
    		}

    	}
    } 

}

.final-row {
    position: relative;
    border-top: inset;
    border-collapse: unset;

    @include mq($to:tablet){ 
        padding-top: 0 !important;
        border: 0px; 

        td {
            &::before {
                font-size: .785rem !important;
            }
            padding-left: 0 !important;
            display: none !important;
            @include mq($from:tablet){ 
                border-top: 1px solid $nero !important;
            }
        }
    }

    td.actions {
        padding-left: 0 !important;

        @include mq($to:tablet){ 

            display: block !important;
            margin-top: -15px;
            border-bottom: 1px solid black !important;

            .cell-title {
                padding: 15px 0 8px 0;
            }

            .coupon {
                padding-bottom: 15px !important;
            }
        }
    }

    td.product-subtotal {
        padding-top: 1.5em;
    }

    td.product-price {

        input {
            padding: 20px;
            font-weight: 400;
            color: $nero;
            opacity: 1 !important;

            &:hover {
                color: $nero;
            }
        }

        @include mq($to:tablet){ 
            display: block !important;
            border: 0 !important;
            padding: 0 !important;
            width: 30% !important;
            position: absolute!important;
            left: 0 !important;
            padding-top: 0 !important;
            margin-top: -15px;
            &::before {
                display: none;
            }

            input {
                opacity: 1 !important;
                border-top: 0 !important;
                width: 100%;
                height: 100%;
                padding: 12px 5px;
                line-height: 50%;
                position: relative;
                top: 50%;
                margin: 8px 0 0 0;
                font-size: .785rem;
            }
        }
    }

    td.total-order-sub {
        @include mq($to:tablet){ 
            display: block!important;
            width: 70%;
            left: 30%;
            position: relative;
            padding-top: 0 !important;
            border-top: 0 !important;
            padding-left: 10px !important;
        }
        width: 17%;
    }
}

body .final-row td.actions {
    @include mq($to:tablet){ 
        border-bottom: 1px solid black !important;
    }
}


.cart_totals {
    
    margin-top: 1.5em;
    
    @include mq($from:tablet){ 
        margin-top: 5em; 
        width: 45.4% !important; 
    }

    table.shop_table tbody tr.order-total {

        th {
            font-weight: 300;
        }
        td {
            border-top: 1px solid $color_2;
            border-bottom: none;
            text-transform: uppercase;
            text-align: center;
            position: relative;
            small {
                font-weight: 400;
                position: relative;
                font-size: .785rem;
                width: 100%;
                text-align: center;
                padding-top: 5px;

                @include mq($from:tablet){
                    display: inline-block;
                }
            }
            
            padding: 15px; 
            border-collapse: unset;
            span { 
                @include testo_uno;
                font-weight: 300; 
            }
        }
        td.total-order {
            width: 17%;
            border-top: 1px solid $nero !important;

            @include mq($to:tablet){ 
                width: 100%;
                padding-left: 0;
                padding-right: 0;
            }
        }
        td.total-title {
            width: 12%;
            border-top: 1px solid $nero !important;
            text-align: left;
            padding-left: 0;

            @include mq($to:tablet){ 
                display: none;

                strong .woocommerce-Price-amount {
                    font-size: 1.1428rem;
                }
            }

        }
        td.total-right {
            width: 1%;
        }
        &.no-border { 
            padding-bottom: 0;
            border-bottom: 0;
        }
    }
}




.woocommerce table.shop_table_responsive tr:nth-child(2n) td, .woocommerce-page table.shop_table_responsive tr:nth-child(2n) td {
    background-color: transparent;
}


.cart-spedizioni {
    width: 50%;
    margin-top: 3.5em;

    @include mq($from:tablet){ 
        margin-top: 6em;
        width: 100%;
    }

    .cart-section-title {

        text-transform: uppercase;
        font-size: 1rem;
        width: 100%;
        text-align: left;
        margin-bottom: 1.5em;

    }


    .woocommerce-shipping-calculator {
        position: relative;


        section.shipping-calculator-form {

            display: flex !important;
            @include flex-parent("row","space-between","center","center");

            @include mq($from:tablet){ 
                &::before {
                    content: " ";
                    width: 100%;
                    height: 1px;
                    position: absolute;
                    background-color: $nero;
                    top: 50%;
                }
            }

            .form-row {
                @include flex-child;
                width: 100%;
                padding: 0;
                margin: 0;
                padding: 5px 0 15px;
                border-top: 1px solid $nero;

                &.shipping-price {
                    position: absolute;
                    left: 100%;
                    top: 0%;
                    border: 0;

                    .column-title {
                        text-align: center;
                    }
                    .shipping-total {
                        text-align: center;
                        display: block;
                    }
                }

                &.shipping-total {
                    display: none;
                    text-transform: uppercase;

                    @include mq($from:tablet){ 
                        display: inline-block;
                        height: 40px;
                        line-height: 40px;
                        text-align: center;
                        flex-grow: 1;
                    }
                
                    button {
                        
                        outline: 0;
                        background-color: transparent;
                        

                        @include mq($from:tablet){ 
                            height: 40px;
                            position: absolute;
                            right: 0;
                        }
                    }
                }
                
                @include mq($from:tablet){ 
                    width: 20%;
                    padding: 0;
                    border: 0; 

                    &.shipping-price {
                        position: relative;
                        left: 0%;
                        top: 0%;
                        border: 0;
                        @include flex-child;

                        .column-title {
                            text-align: center;
                            height: 40px;
                        }
                        .shipping-total {
                            text-align: center;
                            display: block;
                            height: 40px;
                            line-height: 40px;
                        }
                    }

                    &.shipping-country {
                        select {
                            padding-right: 10px;
                            outline: 0;
                        }
                    }
                    &.shipping-city {
                        input {
                            text-align: left;
                        }
                    }
                    &.form-row.shipping-total {
                        flex-grow: 1;
                    }

                }


                .column-title {
                    width: 100%;
                    text-transform: uppercase; 
                    font-size: 0.875rem;
                    text-align: left;

                    @include mq($from:tablet){
                        height: 40px;
                        line-height: 40px;
                        text-align: left;

                        &.center {
                            text-align: center;
                        }

                        &.right {
                            text-align: right;
                        }
                    }

                    
                }

                select {
                    border: 0;
                    background-color: transparent; 
                    /*for firefox*/
                    -moz-appearance: none;
                    /*for chrome*/
                    -webkit-appearance:none;
                    text-transform: uppercase;
                    outline: 0;

                    @include mq($from:tablet){
                        height: 40px;
                    }

                    &::after {
                        @include thin-arrow("right", $nero);
                    }

                    &::-ms-expand {
                        display: none;
                    }

                    option {
                        //text-align: center; 
                        text-transform: uppercase;
                    }
                }

                input {
                    border: 0;
                    background-color: transparent; 
                    text-align: left;
                    text-transform: uppercase;
                    outline: 0;

                    @include mq($from:tablet){ 
                        height: 40px;
                        text-align: center;
                    }

                }

                
            }

        }
    }
}




.wrapper {

    p.return-to-shop {
        position: relative;
        display: inline-block;
        text-align: center;
        width: 100%;

        a.button.wc-backward {
            border-radius: 0;
            color: black;
            border-top: 1px solid $nero;
            border-bottom: 1px solid $nero;
            font-weight: 300;
            background-color: transparent;
            text-transform: uppercase;
            opacity: 1;
            padding: 10px 30px;
            font-size: .875rem;
            @include transition;

            &:hover {
                background-color: $nero !important;
                color: $bianco;
            }
        }
    }
}


body .shipping-calculator-form {
    display: block !important;
}

body .button[name=calc_shipping] {
    display: none;  
}

/*.total-right::before, td::before, .total-right {
    display: none;
}
*/

body .cart_totals .shop_table tbody {

    tr {
        vertical-align: top;
        border-bottom: 0;

        td, th {
            border: 0 !important;
            padding: 15px 12px 15px 12px!important;
        }

        th {
            text-align: left;
            padding-left: 0 !important;
        }

        &.country {
            border: 0;
            th {
                font-weight: bold;
                text-transform: none;
                text-align: left;
                font-size: 1rem;
            }
            .country-label .woocommerce-shipping-calculator {

                width: 50%;
                float: right;

                @include mq($from:tablet){
                    width: 100%;
                    float: none;
                }

                section {
                    position: relative;
                    p {
                        padding: 0;
                        margin: 0;
                    }

                    .form-row select {
                            cursor: pointer;
                            margin: 0;
                            background-color: transparent;
                            border-radius: 0px !important;
                            border: 0;
                            
                            -webkit-appearance: none; 
                            outline: 0;
                            text-align-last:center;

                            &::after {
                                content: " ";
                                width: 10px;
                                height: 10px;
                                @include arrow("down", $nero);
                            }
                    }

                    &::after {
                        content: " ";
                        @include arrow("down", $nero);
                        position: absolute;
                        right: 0;
                        top: 0;
                        height: 100%;
                        width: 15px;
                        cursor: pointer;
                        z-index: -1;
                    }
                }
            }
        }

        &.order-total {
            th, td {
                font-size: 1.25rem;
                font-weight: bold;
                border-top: 1px solid $nero !important;
                padding-top: 15px !important;

                span {
                    font-weight: bold;
                }
            }
        }
    }
}


p#calc_shipping_country_field {
    margin-bottom: 0;

    .woocommerce form .form-row {
        padding: 0; 
    }

    p {
        margin: 0; 
    }
}

.button[name="update_cart"] {
    opacity: 1;
    @include transition;
    &[disabled] {
        opacity: 0 !important;
    
    }
   // display: block;
}


.cart-collaterals {

    .calculated_shipping tbody {

        tr.shipping-head {

            border:0 !important;
            border-bottom: 1px solid $nero !important;

            th {
                padding: 15px 12px!important;
                width: 50%;
            }

            @include mq($to:tablet){
                display: none;
            }
        }
        tr.shipping.country {

            td {
                padding: 2em 12px!important;
                @include mq($to:tablet){
                    &::before {
                      //  display: none;
                      padding-bottom: 3px;
                      font-size: .785rem;
                    }

                    width: 42%;
                    float: left;
                    padding: 12px !important;

                    &.country-label {
                        padding-left: 0 !important;
                        width: 58%;


                        .woocommerce-shipping-calculator {
                            width: 100%;

                            section {
                                width: 70%;
                                .form-row select {
                                    text-align-last: left;
                                    padding-right: 20px !important;
                                }
                            }
                        }
                    }

                    &.shipping-label {
                        &::before {
                            width: 100%;
                            text-align: center;
                        }

                        padding-left: 0 !important;
                        padding-right: 0 !important;

                        span.woocommerce-Price-amount {
                            text-align: center;
                            width: 100%;
                            display: block;
                        }
                    }
                }
            } 

             @include mq($to:tablet){              
                position: relative;
                overflow-y: auto;
                padding-bottom: 0;
            }      
        }
        tr.order-total {
            th {
                text-align: center;
                padding: 2em 12px !important;
                text-transform: uppercase;
            }
            td {
                padding: 2em 12px !important;
            }

            @include mq($to:tablet){
                td::before {
                    font-weight: bold;
                    font-size: 1.25rem;
                    line-height: 1.2em;
                    width: 0;

                }
                td {
                    padding-left: 0 !important;
                    padding-right: 0 !important;

                    strong span.woocommerce-Price-amount {
                        font-family: Roboto,sans-serif;
                        font-weight: 300;
                        display: block;
                        width: 42%;
                        text-align: center;
                        left: 58%;
                        position: relative;
                    }

                    small {
                        display: block;
                        width: 42% !important;
                        text-align: center;
                        left: 58% !important;
                        position: relative !important;
                        padding-top: 8px;
                    }
                }
            }

        }
    }

    @include mq($to:tablet){
        display: block;

        .calculated_shipping {
            margin-top: 0;
        }
    }
}

    


.cart-collaterals .calculated_shipping .wc-proceed-to-checkout a.checkout-button {

    margin-top: 3.428em;
    margin-bottom: 11.43em;
    background-color: transparent !important;
    color: $nero!important;
    text-align: center;
    display: inline-block;
    position: relative;
    border-bottom: 1px solid $nero;
    border-top: 1px solid $nero;
    padding: 12px 30px;
    border-radius: 0;
    text-transform: uppercase;
    font-weight: 300;
    left: 50%;
    transform: translateX(-50%);
    font-size: .857rem;
    @include transition;
    

    @include mq($from:tablet){ 
        margin-top: 5.25em;
        margin-bottom: 12.8em;
        font-size: 1.125rem;

    }


    &:hover {
        background-color: $nero !important;
        color: $bianco !important;
        opacity: 1;
    }
}

#contenuti footer #mc-embedded-subscribe-form input[type=submit] {
    height: 20px;
    min-width: 30px;
}


.woocommerce input.button[name="apply_coupon"] {
    line-height: 21px;
}

body input.single_add_to_cart_button {
    background: none !important;
}
