/* FOOTER */

footer {
    width: 100%;
    background: none;
    color: $grigio;
    line-height: 1.13em;
    margin-bottom: 2em;
    @include mq($from:tablet){ 
        margin-bottom: 6em;
    }

    .wrapper {
        width: 60%;

        @include mq($from:tablet){ 
            width: 80%;
        }
    }

    a {
    	color: $grigio;
    }

    #mc-embedded-subscribe-form{
    	@include flex-parent($justification:space-between);

        padding-top: .7em;
        border-bottom: 1px solid $grigio;
        margin-bottom: 2em;

        @include mq($from:tablet){ 
            padding-top: 3em;
            margin-bottom: 0;
        }
    	
    	

    	input {
    		@include flex-child();
    		flex-grow: 1;
    		border: 0;
    		border-radius: 0;
    		margin: 0;
    		background: none;
    		text-align: left;
    		font-style: italic;
    	}

    	input[type="submit"]{
    		background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 26 18' enable-background='new 0 0 26 18' xml:space='preserve'%3E %3Cpath fill='%23939393' d='M17.369,0.41c-0.344-0.355-0.914-0.355-1.27,0c-0.344,0.344-0.344,0.914,0,1.258l6.438,6.437H1.295 c-0.496,0-0.892,0.395-0.892,0.891c0,0.492,0.396,0.901,0.892,0.901h21.241l-6.438,6.422c-0.344,0.357-0.344,0.93,0,1.271 c0.355,0.355,0.926,0.355,1.27,0l7.961-7.961c0.355-0.344,0.355-0.914,0-1.254L17.369,0.41z M17.369,0.41'/%3E %3C/svg%3E");
    		background-repeat: no-repeat;
    		background-size: auto 60%;
    		background-position: right 25% center;
    		text-indent: -99999px;
    		//min-width: 40px;
    		flex-grow: 0;
    		@include transition();

    		&:hover {
    			background-position: right 0% center;
    			@include transition();
    		}
    	}


    }
}

.footer_credit .wp_content {
	font-size: 0.75rem;
}

#footer .wp_content {
    font-size: 0.857rem;
    @include mq($to:tablet){ 
       h3 { font-size: 1rem; }
       h4 { 
            font-size: 1rem;
            padding-bottom: 1.7em;
            line-height: 1.4em;
        }
    }
}

.scritta_logo {
	@include testo_tre;
}

footer .wrapper .vc_row.footer-space {
    margin: 18px 0;
    @include mq($from:tablet){ 
        margin: 22px 0;
    }
}

