/* HEADER */
/* TESTATA --- TESTATA --- TESTATA --- TESTATA --- TESTATA --- TESTATA --- TESTATA --- TESTATA */
/* STILE DEL MENU DI APERTURA DEL MENU */

header {
	z-index: 99;
	top: 0;
	height: 60px;
	position: fixed;
	width: 100%;
	background-color: transparent;
	@include transition();

	@include mq($from:desktop){
		height: 60px;
		// background: none !important;
	}

	.wrap {
		//@include flex-parent(row,space-between,center,center);
		height: 100%;
		position: relative;

		.right-menu-icons {

			position: absolute;
			right: 0;
			z-index: 99;
			display: flex;
			margin: 0 4vw;
			top: 50%;
			transform: translateY(-50%);


			a {
				font-size: .714rem;
				    @include mq($from: desktop) {
						font-size: 1rem;
					}
			}

			a.selettore_lingua {
				&::after {
					content: " ";
					height: 1.5em;
					line-height: 1em;
					width: 1px;
					background-color: $nero;
					position: relative;
					margin-left: 10px;
					margin-right: 10px;
					display: inline-block;
					transform: translateY(28%);

					@include mq($from: tablet) {
						margin-left: 20px;
						margin-right: 20px;
					}
				}
			}

			a.selettore_lingua.nomobile {
			    text-transform: uppercase;
			    line-height: 3em;
			    display: block !important;

			   // @include flex-child;
			}

			.mobile-menu-right {
				line-height: 3em;
			}
		}

		
	}


	&:after, &:before{
		content: " ";
		position: fixed;
		width: 0vw;
		height: 100vh;
		background: $color_4;
		top: 0;
		left: 0;
		z-index: 9;
		transition: .2s 1s;
	}
	&:after{
		left: inherit;
		right: 0;
	}

}

/* LOGO */

#logo_sito {
	display: block;
    position: relative;
    margin: 0 auto !important; 
    top: 100%;
    transform: translateY(-50%);
    height: 100px;
    height: 70px;
    z-index: 99999;
    padding: 0 0 20px 0;
    width: 50%;
    margin: 0 auto;
    width: 125px;
	@include transition();

	svg { 
		overflow: visible;
		display: block;
	    position: relative;
	    height: 50px;
	    margin: 0 auto;
	    transform: translateY(-20px);
	    @include transition();

	    @include mq($from: tablet) {
	    	height: 70px;
	    	transform: translateY(0px);
	    }
	}

	svg #colombo {
		opacity: 1;
		@include transition();
	}

	svg:not(:root) { overflow: visible; overflow-x:visible; overflow-y:visible;  }


	@include mq($from: tablet) {
		padding: 0;
		margin: 0;
		height: 100px;
		max-width: 200px;

	}

}

header.active {
	height: 60px;
	background-color: $color_1;

	@include mq($from:desktop){
		height: 60px;
	}
}

body.home header.active {
	background-color: $color_1;



}

body header.active .right-menu-icons .selettore_lingua::after {
	background-color: $nero !important;
}
header.active #logo_sito {
	top: 50%;
	padding: 10px 0;


	@include mq($from:tablet){ 
		padding: 0; 
		width: 200px;
		height: 67px;
		top:50%;
	}

	svg {

		height: 75px;
		transform: translateY(-42px);
		@include transition();
		fill: $nero !important;

		* {
			fill: $nero !important;
		}

		@include mq($from:tablet){
			height: 100px;
			transform: translateY(-56px);
		}
	}
	svg #colombo {
		opacity: 0;
		@include transition();
	}
}

#logo_sito.fade {
	opacity: 0;
	z-index: 150;
		opacity: 0;
		transition: opacity .2s;
}

body.nav-open #logo_sito svg, body.nav-bag #logo_sito svg {
	opacity: 1;
}


/* SELETTORI LINGUA */

#lingue_mobile {
	text-transform: uppercase;
	& > li {
		
		a  {
			display: block;
			width:100%;
			color:$color_nav;
			outline: none;
			font-size:13px;
			letter-spacing: 1px;
			padding: 1em 0.5em 1em 1em;
			text-shadow: 0 0 1px rgba($ombra_nav,0.1);
			border-bottom:1px solid lighten($sfondo_nav,10%);
		}
	}
}


#wcml-cart-dialog-confirm {
	width: 100% !important;
}

.wcml-dropdown.wcml_currency_switcher {
	width: initial;
	max-width: none;
	line-height: 3em;
	display: block !important;
    position: relative;
    font-size: .714rem;
    padding-left: 30px;


    @include mq($from:desktop){
    	font-size: 1rem;
    }
    

    & > ul {
    	position: absolute;
    	top: 1rem;
    	right: -10px;
    	@include mq($from:tablet){
    		right: 10px;
    	}
    }

	a {
		padding: 0;
		line-height: 0.24em;
		width: 40px;

		@include mq($from:desktop){
			line-height: 18px;
		}
	}

	a.wcml-cs-item-toggle {
		padding: 0;
	}

	a.wcml-cs-item-toggle:after {
		display: none;
	}

	li {
		border: 0;
		background: none !important;
	}
	.wcml-cs-submenu {
		border: 0;

		@include mq($to:desktop){
				top:10px;
			}
	}

	.wcml-cs-submenu li {
		border: 0;
		background: none !important;
		padding-top: 7px;

		a {
			@include mq($to:desktop){
				line-height: 18px;
			}
		}

		a:hover {
			color: grey;
		}
	}

	&::after {
		content: " ";
		height: 1.5em;
		line-height: 1em;
		width: 1px;
		background-color: $nero;
		position: relative;
		margin-left: 10px;
		margin-right: 10px;
		display: inline-block;
		transform: translateY(28%);

		@include mq($from: tablet) {
			margin-left: 20px;
			margin-right: 20px;
		}
	}

	& + img {
		position: absolute;
	    left: -45px;
	    width: 16px;
	    height: 16px;
	    top: 1rem;
	    margin: 0;
	}
}


body header.active .right-menu-icons .wcml-dropdown.wcml_currency_switcher::after {
	background-color: $nero !important;
}