.nav-right {
	.nav_wrapper {

		p.woocommerce-mini-cart__empty-message {
		    padding-top: 20vh;
		    padding-left: 10%;
		    padding-right: 10%;
		}

		ul.woocommerce-mini-cart {
			
			padding: 15vh 10% 0 10%;
			
			li.woocommerce-mini-cart-item {
				
				@include flex-parent;
				padding: 1.25em 0;
				border-bottom: 1px solid $color_2;
				position: relative;

				&:first-child { border-top: 1px solid $color_2; }

				a.remove { display: none !important; }

				a::before { display: none; }

				.woocommerce-item-img {
					display: block;
					width: 27.5%;
					//@include flex-child;
					//align-self: stretch;
					padding: 0;
					position: relative;


					img {
						width: 100%;
    					height: auto;
					}
				}

				.woocommerce-item-name {
					@include flex-child;
					width: 72.5%;
					padding: 0;
					padding-bottom: 1.5em;
					padding-left: 15px;
					height: 100%;
					position: relative;
					align-self: flex-start;
					text-align: left;
					font-size: 1rem;

					dl.variation {
			            margin: 0;
			            .variation-text {
			                margin: 0;
			                line-height: 1.2em;
			                text-transform: none;
			                font-style: italic;   
			            }
			        }
				}


				.quantity {
					position: absolute;
    				right: 0;
					bottom: 1.25em;
				    text-align: right;

					input.minus, input.plus {
					    display: none;
					}
				}
				.quantity-item {
					position: absolute;
					text-align: left;
				    width: 72.5%;
				    left: 27.5%;
					padding-left: 15px;
					bottom: 1.25em;
				}
				

				&:hover a.remove {
					display: block;
				}

			}
		}

		.woocommerce-mini-cart__buttons.buttons {
			text-align: center;
		    position: relative;
		    display: inline-block;
		    width: 100%;
		    margin-top: 3.8rem;
		    margin-bottom: 30px;

			a.button.wc-forward {
			    padding: 10px 30px;
			    border-top: 1px solid $color_2;
			    border-bottom: 1px solid $color_2;
			    font-size: 0.875rem;
			    text-transform: uppercase;
			    @include transition;

			    &:hover {
			    	background-color: $color_2;
			    	color: $color_1;
			    	opacity: 1;
			    }
			}
		}

		p.cart-button-container {
			text-align: center;

			a.cart-button {
				display: inline-block;
			    text-align: center;
			    padding: 1px 3px;
			    font-size: .875rem;
			    border-bottom: 1px solid $nero;
			}
		}
	}
}


