/* MENUMOBILE:SCSS */

// Variabili colori menu' mobile
$sfondo_nav:$color_5;
$color_nav:$nerochiaro;
$ombra_nav:$nerochiaro;
$bottone_bk:$color_1;
$bottone_color:$color_2;

/* STILE DEL MENU DI APERTURA DEL MENU */

a.mobile-menu-left {
	display: block;
    position: absolute;
    z-index: 999999;
    color:$bottone_color;
	padding: 0 4vw;
    width: auto;
    font-size: .714rem;
    line-height: 3em;
    cursor: pointer;
    transition: opacity .2s .5s;
    left: 0;
    transform: translateZ(0);
    top: 50%;
    transform: translateY(-50%);

    @include mq($from: desktop) {
		font-size: 1rem;
	}
}



.close-mobile-menu.fade {
	opacity: 0;
	@include transition();
}


.nav_wrapper a.close-mobile-menu {
	display: block;
    width: 10px;
    height: 10px;
    position: fixed;
    z-index: 99999;
	color:$bottone_color;
	background-color:$sfondo_nav;
	opacity: 0;
	@include transition;
	transition: opacity .2s;
	top: 28px;
	visibility: hidden;


	@include mq($from: tablet) {
		width: 12px;
    	height: 12px;
    	transform: translateY(-50%);
    	top: 26px;
	}
}
.nav-left a.close-mobile-menu {
	right: 10%;
	
    transform: translateY(-50%);
}
.nav-right a.close-mobile-menu {
	left: 10%;
    transform: translateY(-50%);
}

  
body.nav-open {

	a.mobile-menu-right {
		z-index: 9;
		@include mq($from: desktop) {
			z-index: 999999;
		}
	}

	a.mobile-menu-left {
		color: $nero !important;
	}

	.nav-left {
	 	transform: translateX(100vw);
	 	transition: transform .5s .2s;

	 	@include mq($from: desktop) {
			transform: translateX(25vw);
		}

	 	.close-mobile-menu {
	 		opacity: 1;
	 		transition: opacity .2s 1s;
	 		right: 4vw;
	 		visibility: visible;
	 	}
	}
}

body.bag-open {

	div.right-menu-icons {
		z-index: 999999;
		@include mq($from: desktop) {
			z-index: 999999;
		}
	}

	a.mobile-menu-right {
		color: $nero !important;
	}
	div.right-menu-icons a.selettore_lingua.nomobile {
		visibility: hidden;
	}

	a.mobile-menu-left {
		z-index: 9;
	}
	.wcml-dropdown.wcml_currency_switcher {
		z-index: 8;
		visibility: hidden;
	}

	.nav-right {
	 	transform: translateX(-100vw);
	 	transition: transform .5s .2s;

	 	@include mq($from: desktop) {
			transform: translateX(-25vw);
		}

	 	.close-mobile-menu {
	 		opacity: 1;
	 		transition: opacity .2s 1s;
	 		visibility: visible;
	 	}
	}
}

.active {
	.wrap nav .close-mobile-menu {
		transform: translateY(-50%);
	}

	a.mobile-menu-left {
		color: $nero !important;
	}

	.mobile-menu-right {
		color: $nero !important;
	}

	.right-menu-icons {
		color: $nero !important;
		.selettore_lingua {
			color: $nero !important;
		}

		.wcml-dropdown.wcml_currency_switcher {
			a { color: $nero !important;}
			&:after {
				background-color: $nero;
			}
		}
	}


}


// Specifiche menu
.nav-left {
	z-index: 9999;
	left: -100%;
	transition:all .5s .2s;
	webkit-overflow-scrolling: touch;

	@include mq($from: desktop) {
		left: -25vw;
	}
}
.nav-right { 
	z-index: 9999;
	right: -100%;
	transition:all .5s .2s;
	webkit-overflow-scrolling: touch;

	@include mq($from: desktop) {
		right: -25vw;
	}
}


.nav-left, .nav-right {
	width: 100%;
	background:$sfondo_nav;
    height: 100vh;
    position: absolute;
    top: 0;
	transition:all .7s;

	@include mq($from: desktop) {
		width: 25vw;
	}
	
	
	.nav_wrapper {
		position:relative;
		width:100%;
		height:100%;
		overflow-y:scroll;
	}
	
	ul {
		padding: 0 4vw;

    		& > li {
			list-style: none;
			line-height: 1.95em;
			@include mq($from: tablet) {
				line-height: 1.57em;
			}

			&.current-menu-item a{ font-weight: bold; }


			
			a  {
			    width: 100%;
			    display: block;
			    color: #333;
			    font-size: 1.287rem;
			    border-bottom: 1px solid $color_5;
			    box-sizing: border-box;
			    text-transform: uppercase;
			    font-weight: 400;
			    text-align: center;
			    cursor: pointer;

			    @include mq($from: desktop) {
					text-align: left;
					font-size: 1.125rem;
				}
			}

			@include mq($from: desktop) {
				a {
					display: inline-block;
					width: auto;
					position: relative;
				}
				a::before {
					content: "";
					width: 0;
					position: absolute;
					height: 1px;
					background-color: black;
					@include transition();
					bottom: 0;
					transform: traslateY(-50%);
				}
			}

			a:hover, a:focus, a:active{
				&::before {
					width: 100%;
				}
				color: black;
			}


			/*
			a:hover {
				background:lighten($sfondo_nav,2%);
			}
			*/
			
		} /* LI */
		
		/* NASCONDO SOTTOMENU */
		& > li > ul { display:none; }
		
		/* MOSTRO SOTTOMENU SE ATTIVI */
		& > li.current-menu-ancestor > ul { display:block; }
		
		li.menu-item-has-children > a {


			&:after { 
				float:right;
				margin-right:5%;
				padding-top:0px;
				content: '';
				display: block;
				width: 10px;
				height: 10px;
				@include arrow("down", $color_nav);
			}
			&.attivo {
				&:after {
					@include arrow("up", $color_nav);
				}
			} 
			&.aperto {
				&:after {
					@include arrow("up", $color_nav);
				}
			} 
		}
	} /* UL */

	.main-menu {
		margin-top: 12.7em;
		@include transition;
		
		@include mq($from: tablet) {
			margin-top: 9.7em;
		}
	}

	.secondary-menu {
		width: 100%;
	    position: absolute;
	    bottom: 3em;
	    @include transition;

	    @include mq($from: tablet) {
	    	bottom: 45px;
	    }
	    
	   	li {
	   		line-height: 1.6em;
	   		@include mq($from: tablet) {
	   			line-height: 1.35em !important; 
	   		}
	   	}

	    li a { 
	    	font-size: 1rem; 

	    	@include mq($from: tablet) {
	    		font-size: .875rem; 
	    	}



	    }

	   	.top-margin {
	   		margin-top: 1.4em;
	   	}
	}



	ul#menu-principale > li > a { border-bottom:1px solid lighten($sfondo_nav,10%); height: 48px; text-transform: uppercase;}

	ul#menu-principale > li > ul.sub-menu > li > a { background:lighten($sfondo_nav,10%); }
	ul#menu-principale > li > ul.sub-menu > li > ul.sub-menu > li > a { background:lighten($sfondo_nav,20%); }
	ul#menu-principale > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > a { background:lighten($sfondo_nav,30%); }

	ul#menu-principale > li > ul.sub-menu > li.current-menu-item > a { color:$color_nav;}
	
	ul#menu-principale > li > ul.sub-menu > li > ul.sub-menu > li.current-menu-item > a { color:$color_nav; background: lighten($sfondo_nav, 50%);}
	
	ul#menu-principale > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li.current-menu-item > a  { color: $color_nav; background: lighten($sfondo_nav, 50%);}

	/* NASCONDO IMMAGINI E DESCRIZIONI */

	span.sub, span.menu-image-wrapper { display: none !important;}

}

@media screen and (max-height: 500px) {
  	.nav-left .secondary-menu {
  		position: static;
  		margin-top: 80px;
  	}
  	.nav-left .main-menu {
  		margin-top: 140px;
  	}

  	.active .wrap .nav-left .main-menu {
  		margin-top: 75px;
  	}
}


// CAMBIOVALUTA 

.cambiovaluta_wrapper {
	text-align: center;
	text-transform: uppercase;
	color: #333;

	.wcml-dropdown.wcml_currency_switcher {
		display: inline-block !important;
		padding: 0;
		padding-left: 20px;
		line-height: 1em;
		font-size: 1em;

		& > ul {
		    position: relative;
		    visibility: visible;
		    top: initial;
		    right: initial;
		    padding: 0;
		    font-size: 1em;
			
			& > li > a {
				line-height: 1.4em;
				width: auto;
				float: left;
				font-weight: bold;
				font-size: 1.1rem;

			}
		}

		ul.wcml-cs-submenu {
			top: initial;
			visibility: visible;
			position: relative;
			display: inline-block;
			line-height: 1em;

			& > li {
				float: left;
				padding-top: 0;
				width: 25px;

				& > a {
					line-height: 0.6em;
				}
			}
		}

		&:after {
			display: none;
		}
	}
}



