#contenuti.shop {
	a {
		transition: none;
	}
}

.wrapper {

	.shop-product-desc-container {
	    width: 100%;
	    margin: 0 auto;

	    .shop-product-desc {
	        width: 80%;
	        font-size: 1rem;
	        line-height: 1.2em;
	        p {
	        	  margin-top:0%;
	        }
	      

	        @include mq($from:tablet){
	            width: 41%;
	            margin-left:0%;
	            margin-right:0%;
	            
	            font-size: 1.375rem;
	        }
	        margin-top: 0px!important;
	    }
	}
	.shop-items-list {
		padding: 0;

		.shop-item-image {
			list-style-type: none;
			padding: 3px;
			background-color: transparent;
			position: relative;
			height: 100%;

			@include mq($from:tablet){ 
				padding: 15px; 
			}


			&.wkcol-3 { 
				padding: 5px;
				width: 50%;

				@include mq($from:tablet){ 
					width: 25%
				}
			}

			&.wkcol-4 { 
				width: 50%; 

				@include mq($from:tablet){ 
					width: 33.33%
				}
			}

			.shop-image {
				position: relative;
			    height: 0;
			    padding-bottom: 150%;
			    width: 100%;
			    display: block;
			    background-position: center;
			    background-repeat: no-repeat;
			    background-size: cover;

			    .onsale-sticker {
			    	width: 60px;
			    	height: 60px;
					background-color: $nero;
			        border-radius: 30px;
			        position: absolute;
			        color: $bianco;
			        top: 50%;
			        line-height: 60px;
			        font-weight: bold;
			        font-size: .714rem;
			        display: inline-block;
			        opacity: 1;
			        @include transition;
			        text-align: center;
			        left: 50%;
			        transform: translateX(-50%) translateY(-50%);

			        @include mq($from:tablet){ 
				        width: 110px;
				        height: 110px;
				        font-size: 1.125rem;
				        line-height: 110px;
				        border-radius: 55px;
				    }

			    }

			    .shop-item-text {
			    	position: absolute;
			    	bottom: 0;
			    	width: 100%;
			    	opacity: 1;
			    	@include transition;

			 		@include mq($from:tablet){ 
			 			opacity: 0;
			 		}

			    	span {
			    		position: absolute;
			    		padding: 3% 3%;
			    		line-height: 1em;
			    		transform: translateY(-100%);
			    		font-size: .714rem;

			    		@include mq($from:tablet){ 
				 			font-size: 1.125rem;
				 		}
			    	}

			    	.shop-item-title {
			    		left: 0;
			    	}
			    	.shop-item-price {
			    		right: 0;
			    		bottom: -8px;
			    	}
			    	span.shop-item-reg-price {
			    	    right: 0;

			    	    &.onsale {
			    	    	text-decoration: line-through;
			    	    }
			    	}
			    }


			    &:hover {
			    	opacity: 1;
			    	.shop-item-text {
			    		opacity: 1;
			    	}
			    	.onsale-sticker {
			    		opacity: 0;
			    	}
			    }
			    
			}

			

		}
	}
}
