/* TIPOGRAFIA.SCSS */

i, em { font-style:italic;}
strong, b { 
	@include testo_uno;
	font-weight:bold; 
}
strong em, strong i, { 
	@include testo_tre;
	font-weight: bold; 
	font-style: italic; 
}

/* Link di base */
a {
	text-decoration:none;
	color:$color_2;
	cursor: pointer;
	@include transition();
  outline:none !important;
}

a:hover {
  opacity: 0.7;
	text-decoration:none;
  outline:none !important;
  @include transition();
}

@mixin textexpand {
	letter-spacing:0.06em;
	word-spacing:0.1em;
}


/* TITOLI GENERALI DEL SITO */

h1, h2, h3, h4, h5, h6 {
	font-weight:400;
	line-height:1.3em;
	display:block;
	width:100%;
	clear:both;
}

h1 {
	line-height: 1.1em;
	font-size: 2rem;
	@include mq($from:tablet) { font-size:2.5rem;}
	@include mq($from:desktop) { font-size:3rem;}
	@include mq($from:wide) { font-size:3.5rem;}
}	
	
h2 {
	font-size:1rem;
	text-transform: uppercase;
	font-weight: 300;
    text-align: center;
    padding: 30px 0;
    margin: 0;

	@include mq($from:desktop) {font-size: 1.5rem;}
}

h3 {
	color: $color_2;
	font-size:1.375rem;
	font-weight: bold;}
	
h4 {
	font-size:1.125rem;
	text-transform: uppercase;
	color: $grigio;
	}
	
h5 {
	color: $color_2;
	font-size: 1.125rem;
	font-weight:normal;
	text-transform:none;
	margin: 10px 0 !important; 
}

h6 {
	font-size:0.9rem;
	font-weight:800;
	color: $color_3;
	text-transform:uppercase;
}


.wp_content {
	font-size: 1.5rem;
	line-height: 1.2em;
	img { max-width:100% !important; height: auto;}
	
	p {
		padding-bottom:1em;
		font-weight: 300;
	}
		
	
	ul, ol {
		list-style:none;
		padding-left:5%;
	}

	li {
		list-style:disc;
		line-height:1.5em;
		margin-bottom:10px;}
		
	li ul li ul li {
		line-height:1.5em;}
	
	ol li {
		list-style:decimal;}
		
	li ol li ol li {
		list-style:decimal;
		line-height:1.5em;}
		
	blockquote {
		display: inline-block;
		width: 100%;
		font-family: Georgia, serif;
		font-size: 2rem;
		font-style: italic;
		width: 100%;
		margin: 0.25em 0;
		    margin-top: 5rem;
		padding: 0.25em 60px;
		padding-top: 0;
		line-height: 1.3em;
		position: relative;
		color: $color_2;
		box-sizing: border-box;
		@include mq($from:tablet){
			font-size: 3rem;
		}
	}
	
	blockquote:before {
		display: block;
		content: "\201C";
		font-size: 11rem;
		position: absolute;
		left: -10px;
		top: -0px;
		color:lighten($color_2, 75%);
	}
	
	blockquote cite {
		color: $color_2;
		font-size: 1em;
		display: block;
		margin-top: 5px;
	}
	 
	blockquote cite:before {
		content: "\2014 \2009";
	}
	
}

.wpb_text_column .wp_content {
	font-size: 1.375rem;
}

