/* WOOCOMMERCE.SCSS */


button.single_add_to_cart_button {

	display: block;
	bottom: 15px;
    width: 200px;
	clear: both;
	cursor: pointer !important;


	color: #000;
    background: 0 0;
    border: 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    border-radius: 0;
    transition: all .3s ease-in-out;
    width: auto;
    margin: 6.4em auto 0;
    margin-top: 4em;
    padding: 7px 20px;
    float: none;

    &:hover {
    	background:$color_1;
    }
	
}


.immagine_singolo_prodotto {
	width: 100%;
	height: 0;
	padding-bottom: 40%;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	border-radius: 4px;
	overflow: hidden;
}


div.buttons_added {
	display:block;
	width:200px;
	position:relative;
	clear: both;
}

.buttons_added input.minus, .buttons_added input.plus  { 
	width:30px;
	height:30px;
	background:$color_1;
	color:$bianco;
	float:left;
	margin-top:1em;
	clear: none;
	border: 0;
	border-radius: 3px;
	cursor: pointer !important;

    &:hover {
    	background:$color_1;
    }
}


.buttons_added input.plus {
	float:right;}

.buttons_added input.input-text.qty {
width:130px;
height: 30px;
line-height: 30px;
text-align:center;
position:absolute;
margin-top: 1em;
    margin-left: 5px;
    border: 0;
    background: none !important;
    padding-left: 10px;

}

.book_start_date_label {
	    margin-top: 1em !important;
	    clear: both;
	    display: block;
	    text-transform: uppercase;
	    color: $color_1;
	    font-weight: 600;
	    margin-bottom: 10px;
	
}

.booking_calender.hasDatepicker {
	cursor: text!important;
	height: 30px;
	line-height: 30px;
	border: 0;
	background: none;
	border-bottom: 1px solid $color_1;
	display: block;
    float: left;
    margin-right: 2px;
}

#checkin_cal {
	width: 30px !important;
	height: 30px !important;
}


#show_addon_price {
	display: none !important; 
}


.woocommerce table.shop_table {
	border-collapse: 0;
	border: 0 !important;
}

.woocommerce table.shop_table td {
	border-top: 0 !important;
	border-bottom: 1px solid $color_1 !important;
}


.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
	width: 100% !important;

	h2 {
		line-height: 2em !important;
	}
}

.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
	background-color: $color_1 !important;
	margin-top: 1em !important;
	@include transition();

	&:hover {background-color:$color_1 !important;};
}

.woocommerce {
	/*
	PER COSA TI SERVIVA AVERE IL CLEAR E FLOAT? Rischiamo che in alcune pagine il footer vada a sovrapporsi
	float: left;
    clear: both;
    */
    width: 100%;
}

nav.woocommerce-breadcrumb {
	display: none;
}





/************** SINGLE PRODUCT *****************/


/********** gallery ***********/

.wrapper .product {
	position: relative;
	margin-top: 0em;
	margin-bottom: 3em;

	@include mq($from:tablet){
		overflow: auto;
		margin-top: 2em;
	}

	.product-thumb-container {
		width: 100%;
		position: relative;
		height: 0;
		padding-bottom: 100%;
		margin: 30px 0;
		margin-top: 0px;

		@include mq($from:tablet){
			width: 43.1%;
			position: relative;
			padding-bottom: 0;
			height: auto;
			margin: 0; 
			float: left;
		}

		span.onsale {
			display: none;
		}

		.webkolm-product-gallery {
			position: absolute;
			width: 100%;
			height: 100%;
			display: none;
			@include mq($from:tablet){
				position: relative;
				height: inherit;
			}

			&.active {
				display: block !important;
			}

			.slides {
				height: 100%;
				position: relative;
				width: 100%;
				@include mq($from:tablet){
					position: relative;
					height: inherit;
					width: 86%;
					left: 14%;
				}

				.product-image-item {
					width: 100%;
				    height: 100%;
				    position: relative;
					list-style-type: none;
					padding-left: 0; 
					background-position: center;
					background-repeat: no-repeat!important;
					background-size: contain;

					@include mq($from:tablet){
						position: relative;

						&:last-child {
							display: none !important;
						}
					}

					img.product-single-image {
					    width: 100%;
					    height: auto;
					}
				}
			}

			a.flex-prev, a.flex-next {
				display:block;
			}

			.flex-direction-nav {
				padding-top: 0;
				padding-bottom: 0;
				display: block !important;

				@include mq($from:tablet){
					display: none !important;
				}


				li {
					&:before {
						content: "";
						display: block;
					}
				}
			}

			.flex-direction-nav li a {
			  //text-indent: -999999px;
			  color: transparent;
			  position: absolute;
			  width: 35px;
			  display: block;
	    	  height: 35px;
			  top: 50%;
	    		margin-top: -17.5px;
			  z-index: 9;
			  cursor: pointer;
			  @include thin-arrow("up",$nero);
			  opacity: 1;
			  left: -4%;


			  &.flex-next {
			  	left: inherit;
			    right: -4%;
			    @include thin-arrow("down",$nero);
			    height: 35px;
			  }
			}

			.flex-direction-nav li a { opacity: 0.3; left:-4%;}
			.flex-direction-nav li a.flex-next { left:inherit; right: -4%;}
			.flex-direction-nav li a:hover { opacity: 1; left: -6%;}
			.flex-direction-nav li a.flex-next:hover { right: -6%; left: inherit;}


			.flex-control-thumbs {
				@include mq($from:tablet){
					display: block;
					width: 13%;
				    top: 0;
				    left: 0;
					position: relative;

					li {
						width: 100%;
						padding: 0 0.4em 0.4em 0; 

						&:last-child {
							display: none !important;
						}

						img {
							border: 1px solid #e0e0e0;

							&.flex-active {
								border: 1px solid $nero;
							}
						}
					}
				}
			}

			&.custom-image-active ul.slides li:last-child, &.custom-image-active ol.flex-control-thumbs li:last-child {
				@include mq($from:tablet){
					display: block !important;
				}
			}
			&.custom-image-active ul.slides li:last-child::before, 
			&.custom-image-active ul.slides li:last-child::after {
				display: none;
			}

		}
	}
	.summary.entry-summary {

	    width: 100%;
	    position: relative;
	    left: 0;

	    @include mq($from:tablet){
		    width: 49.3%;
			position: relative;
			left: 7.3%;
		    top: 0;
		    float: left;
		    clear: right;
		}
	    @include mq($from:desktop){
		    width: 41.3%;
		}

		.product_title {
			font-size: 1.1428rem;
			text-transform: uppercase;
		    width: 65%;
		    position: relative;
		    line-height: 1.2;
		    padding: 0;
		    margin: 0;
		    margin-bottom: 1em;
		    
		    @include mq($from:tablet){
		    	font-size: 1.375rem;
		    }

		}

		p.price { display: none; }

		

		.single-product-desc {
			.descrizione-singolo-prodotto {

				display: none;
			    margin-bottom: 3.12em;
			    font-size: .857rem;

			    @include mq($from:tablet){
			    	margin-bottom: 0em;
			    	font-size: 1rem;
    				line-height: 1.25em;
    				margin-top: -10px;
    				margin-bottom: -6px;
			    }

			    &.activate {
			    	display: block!important;
			    }

			}
		}

		form.variations_form {
			.variations tbody tr {
				display: inline-block;

				td.label {
				    float: left;
				    font-size: 1rem;
				    text-transform: uppercase;
					padding-bottom: 10px;
				}
				td.value {
				    float: left;
				    clear: both;

				    .reset_variations {
				    	display: none !important;
				    }

				    .tawcvs-swatches span.swatch-image {
				    	border-radius: 0;
				    	width: 40px;
				    	height: 40px;
				    	font-size: 0;
				    	margin-right: 10px;

				    	&.selected {
				    		box-shadow: 0 0 0px 1px !important;
				    		border-color: $bianco;
				    	}
				    }
				}
			} 

 
			.single_variation_wrap {

				.woocommerce-variation {
					.woocommerce-variation-description {
						display: none;
					}
				}

				div.product-addon {
				    position: relative;

				    &.product-addon-personalizza-la-tua-cravatta { 
				    	margin-top: 3em; 

				    	@include mq($from:tablet){
				    		margin-top: 33px; 
				    	}
				    }

				    

				    h3.addon-name {
				    	font-weight: 300;
				    	font-size: 1.1428rem;
				    	text-transform: uppercase;
				    	padding-left: 20px;
				    	width: 80%;

				    	@include mq($from:tablet){
				    		font-size: 1.375rem; 
				    		line-height: 1.2em;
				    		padding-left: 0;
				    		margin-bottom: -4px;
				    	}
				    }

				    .addon-description {
				    	opacity: .3;
				    	font-size: 0.857rem;
				    	p { font-style: normal; }

				    	@include mq($from:tablet){
				    		font-size: 1rem;
				    	}
				    }

				    p.form-row {
				    	height: auto;
				    	position: static;

				    	
				    	
				    	label {
				    		color: transparent;
				    		input {
				    			position: absolute;
				    			top: 0;
				    			left: 0px;
				    			transform: translateY(25%);
				    			line-height: 1.2em;
				    			@include mq($from:tablet){
					    			left: -25px;
					    			transform: translateY(50%);
					    		}



				    		}

				    		span.woocommerce-Price-amount.amount {
				    		    position: absolute;
				    		    top: 0;
				    		    right: 0;
				    		    display: block !important;
				    		    color: $nero;
				    		    font-size: 1.1428rem;
				    		    line-height: 1.2em;
				    		    opacity: .3;

				    		    @include mq($from:tablet){
				    		    	font-size: 1.375rem; 
				    		    }


				    		}
				    	}

				    	span.woocommerce-Price-amount.amount {
					    	position: absolute;
					    	top: 0;
					    	right: 0;
					    	color: black;
					    }
				    }

				    &.product-addon-personalizza-la-tua-cravatta  p.form-row {
				    	@include mq($from:tablet){
				    		height: 1px;
				    	}
				    }
				}

				.product-addon-campo-personalizzazione {
					opacity: .3;
					h3.addon-name {
						display: none;

					}

					.addon-description p {
						display: none;
					}

					p.form-row {
				    	textarea.addon-custom-textarea {
				    		background-color: #e0e0e0 !important;
				    		border: 0;
				    		//padding: 3px 5px;
							height: 60px !important;
							width: 100% !important;
							text-align: center;
							line-height: 28px;
							font-size: 1rem;
							width: auto;
							max-width:350px;
							border-radius: 0 !important;

						/*	&::-webkit-input-placeholder::before {
							  content: "riga1\000riga2";
							}

							&::-moz-placeholder::before {
							  content: "riga1\000riga2";
							}

							&:-ms-input-placeholder::before {
							  content: "riga1\000riga2";
							} */


					    	&:focus {
					    		box-shadow: none;
				    			outline: 0;
					    	}
				    	}


				    	&::before {
				    	    height: 4px;
				    	    width: 100%;
				    	    background-color: $bianco;
				    	    position: absolute;
				    	    top: calc(50% - 4px);
				    	    content: " ";
				    	}
					}
				}

				div#product-addons-total {
					display: none!important;
				}
				.form-row {

				}

				&.activate {
					.product-addon-campo-personalizzazione {
						opacity: 1;
					}

					div.product-addon p.form-row label span.woocommerce-Price-amount.amount {
						opacity: 1;
					}

					div.product-addon .addon-description {
				    	opacity: 1;
				    }
				}
			}

		}

		
		.woocommerce-variation-price {
		    width: 50%;
		    position: absolute;
		    right: 0;
		    text-align: right;
		    top: 0;
		    font-size: 1.1428rem;
		    line-height: 1.2;
		    text-transform: uppercase;
		    padding: 0;
		    margin: 0;
		    @include mq($from:tablet){
		    	font-size: 1.375rem;
		    }
		}
	}
}

.woocommerce-variation-add-to-cart.variations_button.woocommerce-variation-add-to-cart-enabled {
	position: relative;
	display: block;
	margin-top: 4em;
	margin-bottom: .5em;

	@include mq($from:tablet){
		margin-top: 53px;
	}

	div.buttons_added {
	    display: none !important;
        position: relative;

	    input {
	    	display: inline-block;

	    	&:focus {
	    		box-shadow: none;
    			outline: 0;
	    	}
	    }

		input[type=number]::-webkit-inner-spin-button, 
		input[type=number]::-webkit-outer-spin-button { 
		  -webkit-appearance: none; 
		  margin: 0; 
		}

	    .minus {
	    	@include thin-arrow('up', $nero);
	    	width: 20px;
		    height: 20px;
		    color: transparent;
		    float: none;
	    }

	    input.input-text.qty {
	    	position: relative;
	    	width: 50px;
	    	margin-left: 0;
	    	padding-left: 0;	
	    }    

	    .plus {
	    	@include thin-arrow('down', $nero);
	    	width: 20px;
		    height: 20px;
		    color: transparent;
		    float: none;
	    }
	}

	.single_add_to_cart_button {
			color: $nero;
		    background: transparent;
		    border: 0;
		    border-top: 1px solid $nero;
		    border-bottom: 1px solid $nero;
		    text-transform: uppercase;
		    text-align: center;
		    position: relative;
		    border-radius: 0;
		    transition: all .3s ease-in-out;
		    width: auto;
		    margin: 6.4em auto 0;
		    margin-top: 0px;
		    padding: 7px 20px;
		    float: none;

		    &:hover {
		    	background-color: $nero;
		    	color: $bianco;
		    }

		    &:disabled {
		    	opacity: .3;

		    	&:hover {
	    			color: $nero;
	    		    background: transparent;
		    	}
		    }
	}		
}




/* STILE PER FATTIRAZIONE IN CHECKOUT */

.solo-se-fattura {
	display: none;
	
	&.attivo.superattivo {
		display: block;
	}
}



/*	STILE PER CHECKOUT	*/

#checkout .woocommerce {

	td {
		left: 0;
	}

	h3#ship-to-different-address label span {
		font-weight: 300;
		padding-left: 5px;
	}

	form {

		.col-1, .col-2 {
			width: 100%;
			@include mq($from:tablet){
		    	width: 46%;
		    }
			
		}

		input, textarea {
			border: 0;
			border-bottom: 1px solid $nero;
			outline: 0;
			opacity: .5;
			@include transition;
			-webkit-border-radius:0px;

			&:focus {
				opacity: 1;
			}
		}

		label {
			text-transform: uppercase;
			font-size: .875rem;
			outline: 0; 
		}

		span.selection {

			span {
				border: 0;
				border-radius: 0;
				outline: 0; 
			}
			.select2-selection__rendered {
				border-bottom: 1px solid $nero;
				opacity: .5;

				&:focus {
					opacity: 1;
				}
			}

			span.select2-selection__arrow {

				@include arrow("down",$nero);

				width: 15px;
				height: 100%;
			    right: 3px;

				b {
					border: 0;
				}

				&[aria-expanded=true] span.select2-selection__arrow { 
					transform: rotate(-90deg);
				}
			}
		}

		.form-row {
			margin-bottom: 2em;

			abbr.required {
				color: $nero;
				font-weight: 300;
			}
		}

		div#order_review {
			.woocommerce-checkout-review-order-table {
				td, th {
					text-align: left;
				}

				tfoot th, tbody th {
					padding: 20px 12px 0;
   	 				border: 0;
   	 				border-bottom: 1px solid #e0e0e0;
				}

				tbody tr.cart_item td.product-name {
					padding: 20px 12px 0;
					line-height: 1.2em;
				}
			}

			.payment_box {

    			background-color: #f7f6f7;

    			&::before {
    				border: 1em solid #f7f6f7;
    				border-right-color: transparent;
    				border-left-color: transparent;
    				border-top-color: transparent;
    			}
			}

			#payment {
			   	background: transparent;
			   	border-radius: 0px;
			   	margin-bottom: 5em;

			   	input#place_order {
			   		border-radius: 0;
			   		color: black;
			   		border-top: 1px solid $nero;
			   		border-bottom: 1px solid $nero;
			   		font-weight: 300;
			   		text-transform: uppercase;
			   		opacity: 1;
			   		margin: 0 auto;
			   		display: inline-block;
					padding: 10px 30px;
			   		font-size: .875rem;
			   		float: none;
			   		left: 50%;
			   		transform: translateX(-50%);
			   		@include transition;

			   		&:hover {
			   			background-color: $nero !important;
			   			color: $bianco;
			   			opacity: 1;
			   		}
			   	}

			   	.form-row {
			   		padding-top: 3em;
			   	}
			}
		}
	}
}

.woocommerce-order.thankyou {

	input, textarea {
		-webkit-border-radius:0px;
	}

	section.woocommerce-order-details {
		margin-bottom: 6em;
	    margin-top: 6em;
	}

	section.woocommerce-customer-details {
	    margin-top: 6em;
	}

	ul.wc-item-meta {
		li:nth-child(2) {
			display: none;
		}
	}
	ul.order_details {
	    margin: 3em 0 3em;
	}

	table.shop_table {
		tfoot tr td, tfoot tr th {
			text-align: left;
			padding: 20px 12px 0;
			border: 0;
			border-bottom: 1px solid #e0e0e0;
		}
		tbody tr td {
			padding: 20px 12px 0;
		}
	}

	table.customer_details {
		tbody tr th, tbody tr th {
			text-align: left;
			border: 0;
		}

		tbody tr td {
			text-align: left;
			text-transform: none;
			paddiing: 9px 12px !important;

		}
		
	}
}



input[type=checkbox] {
	appearance: none;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px $bianco;
    display: inline-block !important;
    width: 13px;
    border: 1px solid $nero !important;
    height: 13px;
    &:checked {
    	background-color: $nero;
    }
}


.woocommerce-message, .woocommerce-error {
    border: 0;
    border: 1px solid $nero;
    background: white;
    opacity: 1;
    font-size: 1rem;
    color: $nero;
    padding: 15px 25px;
    
    @include mq($from:tablet){
    	margin-top: 1em;
    }

    &::before {
    	display: none;
    }
}

.woocommerce-error { 
	color: red;
	border: 1px solid red;

}

.woocommerce-info {
	display: none !important;
}


#contenuti .wrapper .onlycheckout {
	display: none;
}

#contenuti .wrapper tr.no-checkout {
	display: table-row;
}

#contenuti .wrapper#checkout {
	.onlycheckout {
		display: block;
	}

	.no-checkout {
		display: none !important;
	}
}




/* SWITCHES */

body .tawcvs-swatches {
    padding-left: 1px;
}

body .tawcvs-swatches .swatch {
	opacity: 1;
}



/* ALERT PERSONALIZZAZIONE */

.wk-alert-personalizzazione {
	color: grey;
	font-size: 12px;
	display: none;
	margin-top: -1em;
	visibility: hidden;
	max-width: 270px;
	line-height: 1.1em;
}
.wk-alert-personalizzazione.activate {
	visibility: visible;
	display: block;
	margin-top: -1em;
}


/* SPEDIZIONI */
.cart-collaterals .calculated_shipping tbody tr.shipping.country td.wk_tempo_spedizioni {
	text-align: left !important;
	font-size: 0.9rem;
	text-transform: none;
	width: 100% !important;
	padding-left: 0 !important;
	border-bottom: 1px solid $nero !important;

	@include mq($from:tablet){
		width: 55% !important;
		border-bottom: 0;
	}

	&:before {
		display: none !important;
	}

}

.cart-collaterals .calculated_shipping tbody tr.shipping-head th.shipping-header {
	padding-right: 38px !important;
	@include mq($from:tablet){
		width: 17%;
	}
}

.cart-collaterals .calculated_shipping tbody tr.shipping-head th.country-header {
	@include mq($from:tablet){
		width: 17%;
	}
}

.cart-collaterals .calculated_shipping tbody tr.shipping.country td.shipping-label {
	@include mq($from:tablet){
		padding-right: 38px !important;
	}
}

body .cart_totals .shop_table tbody tr td.wk_totale {
	@include mq($from:tablet){
		padding-right: 38px !important;
	}
}

