@charset "UTF-8";
/* -COLORS.SCSS */

/* DEFAULT COLORS VARS */

$bianco:#fff;
$nero:#000;
$nerochiaro:#333;
$grigio:#858585;

/* THEME COLORS VARS */

$color_1:$bianco;
$color_2:$nero;
$color_3:#faebd4;
$color_4:#c8826d;
$color_5:#f4f4f4;
