@charset "UTF-8";
/* _MIXIN.SCSS */

@mixin transition ($transition-property:all, $transition-time:0.3s, $method:ease-in-out){
	transition: $transition-property $transition-time $method; 
}

@mixin sfondo-trasparente($color, $alpha: 0.5) {
	$rgba: rgba($color, $alpha);
	$ie-hex-str: ie-hex-str($rgba);
	background:$color;
	background-color:$rgba;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie-hex-str}, endColorstr=#{$ie-hex-str});
}


// Border radius

@mixin border-radius($radius) {
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

// Single side border-radius

@mixin border-top-radius($radius) {
	border-top-right-radius: $radius;
	border-top-left-radius: $radius;
	background-clip: padding-box;
}
@mixin border-right-radius($radius) {
	border-bottom-right-radius: $radius;
	border-top-right-radius: $radius;
	background-clip: padding-box;
}
@mixin border-bottom-radius($radius) {
	border-bottom-right-radius: $radius;
	border-bottom-left-radius: $radius;
	background-clip: padding-box;
}
@mixin border-left-radius($radius) {
	border-bottom-left-radius: $radius;
	border-top-left-radius: $radius;
	background-clip: padding-box;
}


// Arrow down svg 

@mixin arrow($direction:"up", $color:$nero) {
	
	background: url("data:image/svg+xml,%3Csvg%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20195.6%20107.8%22%3E%3Cpath%20fill%3D%22#{$color}%22%20class%3D%22st0%22%20d%3D%22M97.8%20107.8c-2.6%200-5.1-1-7.1-2.9L2.9%2017.1C-1%2013.2-1%206.8%202.9%202.9%206.8-1%2013.2-1%2017.1%202.9l80.7%2080.7%2080.7-80.7c3.9-3.9%2010.2-3.9%2014.1%200%203.9%203.9%203.9%2010.2%200%2014.1l-87.8%2087.8c-1.9%202-4.4%203-7%203z%22%2F%3E%3C%2Fsvg%3E");
	background-position: center center;
	background-repeat:no-repeat;

	@if $direction == "up" {
		transform: rotate(180deg);
		@include transition();
	} 

	@else if $direction == "left" {
		transform: rotate(270deg);
		@include transition();
	}

	@else if $direction == "down" {
		transform: rotate(0deg);
		@include transition();
	}

	@else if $direction == "right" {
		transform: rotate(90deg);
		@include transition();
	}	  
}



@mixin thin-arrow($direction:"up", $color:$nero) {
	
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' id='thin_arrow' x='0px' y='0px' viewBox='0 0 17.3 33.1' enable-background='new 0 0 17.3 33.1' xml:space='preserve'%3E %3Cg%3E%3Cpolyline fill='none' stroke='%23010101' stroke-miterlimit='10' points='0.4,0.4 16.6,16.6 0.4,32.8 '/%3E%3C/g%3E %3C/svg%3E");	background-position: center center;
	background-repeat:no-repeat;

	@if $direction == "up" {
		transform: rotate(180deg);
		@include transition();
	} 

	@else if $direction == "left" {
		transform: rotate(270deg);
		@include transition();
	}

	@else if $direction == "down" {
		transform: rotate(0deg);
		@include transition();
	}

	@else if $direction == "right" {
		transform: rotate(90deg);
		@include transition();
	}	  
}

// Flex-box

@mixin flex-parent($direction:row,$justification:space-around,$align-items:center,$align-content:center) {
	display: flex; /* */
	flex-direction: $direction;
	flex-wrap: wrap;
	justify-content: $justification;
	align-items: $align-items;
	align-content: $align-content;
}

@mixin flex-child ($grow:0, $shrink:0, $basis:auto ) {
	flex-grow: $grow;
	flex-shrink: $shrink;
	flex-basis: $basis;
}


