@charset "UTF-8";
/* _TEXT.SCSS */

/* Font Library */


@font-face {
    font-family: 'solexmed';
    src: url('https://www.haveagoodtie.com/wp-content/themes/wk_haveagoodtie/font/solexmed-020415006EmigreWebOnly.eot');
    src: url('https://www.haveagoodtie.com/wp-content/themes/wk_haveagoodtie/font/solexmed-020415006EmigreWebOnly.eot?#iefix') format('embedded-opentype'),
         url('https://www.haveagoodtie.com/wp-content/themes/wk_haveagoodtie/font/solexmed-020415006EmigreWebOnly.woff2') format('woff2'),
         url('https://www.haveagoodtie.com/wp-content/themes/wk_haveagoodtie/font/solexmed-020415006EmigreWebOnly.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'solexbol';
    src: url('https://www.haveagoodtie.com/wp-content/themes/wk_haveagoodtie/font/solexbol-020415006EmigreWebOnly.eot');
    src: url('https://www.haveagoodtie.com/wp-content/themes/wk_haveagoodtie/font/solexbol-020415006EmigreWebOnly.eot?#iefix') format('embedded-opentype'),
         url('https://www.haveagoodtie.com/wp-content/themes/wk_haveagoodtie/font/solexbol-020415006EmigreWebOnly.woff2') format('woff2'),
         url('https://www.haveagoodtie.com/wp-content/themes/wk_haveagoodtie/font/solexbol-020415006EmigreWebOnly.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@mixin testo_uno {font-family: 'Roboto', sans-serif;}
@mixin testo_due {font-family: 'solexmed', sans-serif;}
@mixin testo_tre {font-family: 'solexbol', sans-serif;}


