/* MAIN */

/* BODY */

html {
	overflow-y: scroll;
}

html.bloccoscroll { 
	overflow-y:hidden; 

}

html, body {
	@include testo_uno;
	font-size:13px;
	line-height: 1.19em;
	-webkit-font-smoothing: antialiased !important;
	color: $color_2;
	font-weight: 400;
	max-width: 100%;

	@include mq($from:tablet){font-size:14px;}
	@include mq($from:tablet){font-size:15px;}
	@include mq($from:tablet){font-size:16px;}
}

body input {
	outline: 0;
}

body.diario {

	header {
		&:after, &:before{
		content: " ";
		position: fixed;
		width: 5.8%;
		height: 100vh;
		background: $color_4;
		top: 0;
		left: 0;
		z-index: 9;
		transition: .7s;

		@include mq($from:desktop){
			width: 10%;
		}
	}
	&:after{
		left: inherit;
		right: 0;
	}
	}
}



body.bloccoscroll {
  overflow: hidden;
  position: fixed;
}

/* CONTENUTI --- CONTENUTI --- CONTENUTI --- CONTENUTI --- CONTENUTI --- CONTENUTI --- CONTENUTI  */

#contenuti {
	position: relative;
	z-index: 3;
	width:100%;
	background:$color_1;
	padding-top: 85px; 

	margin-bottom: 25vh;

	@include mq($from:desktop){
		padding-top: 130px;

		&.wc-wrap {
			padding-top: 130px;
		} 

		&.single-product {
			padding-top: 80px;
		}

		&.shop {
			padding-top: 100px;
		}
	}

	p {
		@include mq($to:tablet){
			font-size: 1rem;
		}
	}

	
	

}

.home #contenuti {
	padding-top: 0;
}

.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width: 1160px;

	@include mq($from:desktop){
		width: 80%;
	}

	.wp_content {     
		width: 100%;
    }
}
