.gallery-container ul li {
	
	background-color: rgba(0, 0, 0, 0)!important;
	background-size: contain!important;

	.slideimg{

		background-size: contain !important;

	}
}



.gallery-container {
	height: 0;
	padding-bottom: 67%;
	width: 100%;
	display: none;
	position: relative;

	ul>li {
		list-style-type: none;
	}

	ul {
		height: 100%;
		width: 100%;
		position: absolute;
		padding: 0 !important;


		li {
			width: 100%;
			height: 100%;
			padding:0;
			position: absolute;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center center;

			&:before {
				content: "";
				display: none;
			}

			.slideimg {
				height: 100%;
				width: 100%;
				padding: 0;
				list-style-type: none;
				background-position: center center;
				background-size: contain;
				background-repeat: no-repeat;
			}
		}
	}

	.flex-direction-nav {
		display: block;
	}

}


.flex-direction-nav {
	@include mq($to:tablet){display: none !important;}
}

.notouch .gallery-container {
	@include mq($from:tablet){
		a.flex-prev, a.flex-next {
			display:block;
		}

		.flex-direction-nav {
			padding-top: 0;
			padding-bottom: 0;
			display: block;

			li {
				&:before {
					content: "";
					display: none;
				}
			}
		}

		.flex-direction-nav li a {
		  //text-indent: -999999px;
		  color: transparent;
		  position: absolute;
		  width: 35px;
		  display: block;
    		height: 35px;
		  top: 50%;
    		margin-top: -17.5px;
		  z-index: 9;
		  cursor: pointer;
		  @include thin-arrow("up",$nero);
		  opacity: 1;
		  left: -8%;


		  &.flex-next {
		  	left: inherit;
		    right: -8%;
		    @include thin-arrow("down",$nero);
		    height: 35px;
		  }
		}
	}
}

.notouch .gallery-container:hover {
	@include mq($from:tablet){
		.flex-direction-nav li a { opacity: 0.3; left:-8%;}
		.flex-direction-nav li a.flex-next { left:inherit; right: -8%;}
		.flex-direction-nav li a:hover { opacity: 1; left: -8%;}
		.flex-direction-nav li a.flex-next:hover { right: -8%; left: inherit;}
	}
}

